php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on

DirectoryIndex index.php

RewriteEngine On

RewriteBase /

#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA]
#AuthType Basic
#AuthName "Restricted Files"
#AuthUserFile /etc/phpmyadmin/.htpasswd
#Require valid-user